body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/free-photo/happy-waiter-holding-plates-with-food-looking-camera-while-serving-guests-restaurant_637285-1707.jpg?t=st=1717841689~exp=1717845289~hmac=7ed9b0e68289f0cc453f21f8f4d9997e65fb41889eb7c741e926c116d32fb059&w=900) no-repeat;
    background-position: left 0px bottom 50%;
    background-size: 101.2%;
    background-attachment: fixed;
}

.menu-container {
    background: transparent;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;
    padding: 20px;
}

.menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* flex-direction: row; */
    justify-content: space-between;

    width: 100%;
}

.menu-header h1 {
    padding-left: 10px;
    font-size: 30px;
    color: #ffffff;
    text-decoration: underline;
}

.menu-categories {
    /* border: 1px solid lightgrey; */
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    display: flex;
    gap: 1%;
    margin-bottom: 20px;
    width: 100%;

}

.menu-categories .category {

    /* padding: 10px 20px; */
    /* margin: 5px; */
    /* margin-right: 50px; */
    width: 15%;
    cursor: pointer;
    border-radius: 6px 6px 18px 18px;
    border: 1px solid lightgrey;
}

.menu-categories .category:hover {
    background-color: #905f5f;
}

.menu-categories .category.active {
    background-color: #ed4e14;
    color: rgb(253, 253, 253);
}


.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.menu-item {
    background: rgba(255, 255, 255, 0.70);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 22em;
    border: 1px solid #e4b09e;
    backdrop-filter: blur(15px);

}

.menu-item:hover {
    transform: scale(1.05);
    border: 2px solid #ed4e14;
}

.menu-item img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 0px;
    height: 8%;
}

.menu-item p {
    font-size: 16px;
    color: #777;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: white-space 0.5s ease;
}


.description {
    max-height: 3em;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}


.menu-item:hover .description p {
    white-space: normal;
}

.menu-item:hover .description {
    max-height: 100em;
}

.menu-item {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
}

.menu-item:hover img {
    /* transform: scale(0.5);  */
    z-index: 1;
}

.description {
    /* max-height: 3em;  */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.menu-item:hover .figuremenu-item {
    max-height: 8em;
    transition: 0.3s;
    margin-bottom: 0;
}

.menu-item:hover .description {
    /* max-height: 100em;  */
}

.menu-item .price {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.material-symbols-outlined {
    border: 1px solid black;
    border-color: gray;
    font-size: 30px;
    border-radius: 10px;

}

.figuremenu-item {
    height: 150px;
}

.editButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editButton button {
    width: 45px;
}

.update-message {
    margin-top: 10px;
    color: #ed4e14;
    font-weight: bold;
}

.menu-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 5px;
}

.menu-buttons button {
    font-size: 19px;
    margin: 4px;
}

.dash {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    background: rgb(253, 117, 117);
    border-radius: 18px 18px 6px 6px;
    min-width: 200px;
}

.createproduct {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    background: rgb(134, 206, 134);
    border-radius: 18px 18px 6px 6px;
    min-width: 200px;
}

.dash:hover {
    background: rgb(255, 42, 42);
}

.createproduct:hover {
    background: rgb(60, 194, 60);
}


@MEDIA (MAX-WIDTH: 400PX) {

    .menu-container {
        margin-left: 0;
    }
}