.container1 {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px; /* Espacio alrededor del grid */
}

.kitchen-card {
  background-color: pink; 
  /* border: 1px solid #ddd;  */
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.kitchen-card h2 {
  margin: 0 0 10px; 
}

.kitchen-card p {
  margin: 0 0 10px; 
}

.kitchen-card ul {
  padding-left: 20px; 
}