 body{background-color:rgb(198, 132, 9);} 
  
.kitchen-card-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
  

.kitchen-card {
  background-color:#faebd7;
  border: 1px solid #e0d0d0;
  border-radius: 8px;
  padding: 10px;
  border: 4px solid #f7e2c5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:space-between;
  flex-direction: column; 
  flex-basis: calc(20% - 32px);
  margin-bottom: 16px;
  width: 200px;
  min-height: 400px;
  max-height: 400px;
  
 
}

.kitchen-card h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.kitchen-card p {
  margin: 4px 0;
}

.kitchen-card .menu {
  margin-top: 8px;
  flex-grow: 1; 
  padding:16px;
}

.kitchen-card .menu-item {
  list-style-type: none;
  padding: 4px 0;
  border-top: 1px solid #eee;
}

.kitchen-card .menu-item:first-child {
  border-top: none;
}

.completed {
  text-decoration: line-through;
}

.completar:hover{
  background-color: rgb(192, 243, 162);
  max-width:200px;
  border-radius: 6px;
}

/* .borrar:hover{
 width: 200px;
 border-radius: 6px;   
 background-color: rgb(243, 162, 162);
} */
.kitchen-card .timer {
  font-size:small;
  color:black;
  margin-top: 10px; 
}
.kitchen-card ul {
  list-style-type: none !important;
}
.boton-tarjeta {
  width: 100%; 
  box-sizing: border-box; 
  position: relative;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: auto;

 
}

.info-linea {
  display: flex; 
  align-items: center; 
}
.info-linea svg {
  margin-right: 10px;
}
.info-contenedor {
  display: flex;
  justify-content: space-between; 
}

.boton-tarjeta .elemento-desbordado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.miCheckbox:checked + label:before {
  background-color:  rgb(192, 243, 162);
}


.kitchen-card li {
  padding: 2px; /* Ajustado */
  margin: 2px 0; /* Ajustado */
  box-sizing: border-box;
  font-size: 0.8em; /* Ajustado si es necesario */
  white-space: nowrap; /* Asegura que el texto se muestre en una sola línea */
  overflow: hidden; /* Oculta el texto que no cabe en la tarjeta */
  text-overflow: ellipsis; /* Añade p
}
.kitchen-card li:first-child {
  margin-top: 5px; /* Ajusta este valor según tus necesidades */
box-sizing: border-box;
}

#temporizador {
  margin: 2px 0; 
  font-size: 0.8em; /* Reducir el tamaño de la fuente si es necesario */
}
.text-red {
  color: red;
}